.encabezado {
  height: 10rem;
}

img {
  margin-top: -10vw;
}
.foto {
  width: 70%;
}
.hide {
  display: none;
}
.limpiar {
  content: none;
}
h5 {
  color: green;
}

@media (min-width: 768px) {
  .ancho1 {
    width: 50%;
  }
  .ancho2 {
    width: 70%;
  }
  /*   img {
    margin-top: -20vw;
  } */
  .foto {
    width: 40%;
  }
}
